body {
  width: 100%;
  margin: 0;
  background-color: #121212;
}

body > header {
  min-height: 638px;
  background-size: cover;
  background-position: center;
  background-image: url("./image/header-mobile.png");
}

@media screen and (min-width: 552px) {
  body > header {
    min-height: 638px;
    background-image: url("./image/header-tablet.png");
  }
}

@media screen and (min-width: 1024px) {
  body > header {
    min-height: 730px;
    background-image: url("./image/header-desktop.png");
  }
}

body > header .header-title {
  padding: 64px 24px;
  max-width: 960px;
  margin: auto;
}

body > header .header-title .header-title-logo {
  display: block;
  width: 225px;
}

body > header .header-title > p {
  display: block;
  font-weight: 300;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: -0.006em;
  color: #fff;
  margin-top: 24px;
}

body > header .header-title .header-title-link {
  display: block;
  width: 264px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.35);
  border: 3px solid #fff;
  font-weight: 600;
  font-size: 17px;
  line-height: 120%;
  letter-spacing: -0.012em;
  color: rgba(255, 255, 255, 0.86);
  text-decoration: none;
  margin-top: 24px;
}

body .sns {
  padding: 60px 0;
  text-align: center;
}

body .sns .sns-title {
  margin: 0;
}

body .sns .sns-title > img {
  width: 103px;
}

body .sns .sns-widgets {
  width: 327px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  padding-top: 20px;
}

@media screen and (min-width: 768px) {
  body .sns .sns-widgets {
    width: 702px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

body .sns .sns-widgets .sns-widget {
  width: 327px;
  max-height: 487px;
  margin: 12px 0 12px;
  border-radius: 8px;
  overflow-y: scroll;
}

body .sns .sns-widgets .sns-widget > a > img {
  width: 327px;
}

@media screen and (min-width: 768px) {
  body .sns .sns-widgets .sns-widget {
    margin: 8px;
  }
}

body > footer {
  background-color: #1d1e21;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px 24px;
}

@media screen and (min-width: 768px) {
  body > footer {
    padding: 80px calc((100% - 744px)/2);
  }
}

body > footer span, body > footer a, body > footer p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.86);
  margin: 0;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  body > footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

body > footer .footer-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media screen and (min-width: 768px) {
  body > footer .footer-logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 250px;
            flex: 0 0 250px;
  }
}

body > footer .footer-logo > img {
  display: block;
  width: 64px;
}

body > footer .footer-logo > span {
  display: block;
  margin-top: 24px;
}

body > footer .footer-contact {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 24px 0 0;
}

@media screen and (min-width: 768px) {
  body > footer .footer-contact {
    margin: 0 0 0 140px;
  }
}

body > footer .footer-contact > span {
  font-weight: 600;
}

body > footer .footer-contact > p {
  margin-top: 12px;
}
/*# sourceMappingURL=index.css.map */